@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tauri&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
    ;
}

main h1 {
    font-family: "Tauri", sans-serif;
}
/*barra de navegacion*/
.nav {
    display: grid;
    color: #240442;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px; 
    grid-template-areas:
        "Links1 Logo Links2";

}
@media (max-width: 480px) {
    .nav{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "Logo"
        "Links1 Links2"
        ;
    }
}


.Links1 {
    grid-area: Links1;
    justify-content: center;

}

.Logo {
    grid-area: Logo;
}

.Logo a img {
    align-items: center;
}

.Links2 {
    grid-area: Links2;

}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.Logo {
    display: grid;
}

.Logo img {
    display: flex;
    max-width: 200px;
    align-items: center;
    margin-left: 120px;
    
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 100px;
    text-decoration: none;
    color: #240442;
    
    
}

.indumentaria-americana {
    margin: 50px;
    text-align: center;
}

.productos {
    margin: 50px;
    align-items: center;
}
.titulo{
    padding: 50px;
    text-align: center;
}

.preguntas-frecuentes {
    margin: 50px;
    text-align: center;
}

.imagenes-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50px;
}


/*imagenes productos*/

.prenda {
    display: flex;
    border: grey solid 2px;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 5px 2px #240442;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
}

.prenda button {
    padding: 5px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: #240442;
    color: white;
    font-family: sans-serif;
}

.prenda img {
    margin: 30px;
    padding: 50px;
    width: 250px;
    
}


/*carousel*/
.carousel-item {
    height: 900px;
}
.copyright {
    text-align: center;
    margin: 50px;
}

.nav-pie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    gap: 0px 0px;
    grid-template-areas:
    
    "imagen-mail imagen-instagram imagen-facebook"
    ;
    background-color: #240442;
    align-items: center;
    justify-items: center;
    
    
}

.nav-pie div a img {
    width: 100px;
    margin: 40px;
    padding: 20px;
    border-radius: 50px;
    
}

@media (max-width: 480px) {
    .nav-pie {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "imagen-mail imagen-instagram imagen-facebook";
        background-color: #240442;
        flex-direction: column;
    }

}

.nav ul a:hover { /*Todos los elementos <a> cuando el mouse esté posicionado sobre ellos*/
        font-weight: bold;
        padding:20px;
        background-color: #250060;
        color: #ffffff;
} 
